In [1]:
import pandas as pd
import numpy as np

In [4]:
df_links = pd.read_csv('links.csv')
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
df_movies = pd.read_csv('movies.csv')
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
split_genres = df_movies['genres'].str.split('|', expand=True).stack()
print(split_genres)

0     0    Adventure
      1    Animation
      2     Children
      3       Comedy
      4      Fantasy
             ...
9738  2      Fantasy
9739  0        Drama
9740  0       Action
      1    Animation
9741  0       Comedy
Length: 22084, dtype: object

In [12]:
df_dummies = pd.get_dummies(split_genres)
print(df_dummies)

        (no genres listed)  Action  Adventure  Animation  Children  Comedy  \
0    0               False   False       True      False     False   False
     1               False   False      False       True     False   False
     2               False   False      False      False      True   False
     3               False   False      False      False     False    True
     4               False   False      False      False     False   False
...                    ...     ...        ...        ...       ...     ...
9738 2               False   False      False      False     False   False
9739 0               False   False      False      False     False   False
9740 0               False    True      False      False     False   False
     1               False   False      False       True     False   False
9741 0               False   False      False      False     False    True

        Crime  Documentary  Drama  Fantasy  Film-Noir  Horror   IMAX  Musical  \
0    0  False        False  False    False      False   False  False    False
     1  False        False  False    False      False   False  False    False
     2  False        False  False    False      False   False  False    False
     3  False        False  False    False      False   False  False    False
     4  False        False  False     True      False   False  False    False
...       ...          ...    ...      ...        ...     ...    ...      ...
9738 2  False        False  False     True      False   False  False    False
9739 0  False        False   True    False      False   False  False    False
9740 0  False        False  False    False      False   False  False    False
     1  False        False  False    False      False   False  False    False
9741 0  False        False  False    False      False   False  False    False

        Mystery  Romance  Sci-Fi  Thriller    War  Western
0    0    False    False   False     False  False    False
     1    False    False   False     False  False    False
     2    False    False   False     False  False    False
     3    False    False   False     False  False    False
     4    False    False   False     False  False    False
...         ...      ...     ...       ...    ...      ...
9738 2    False    False   False     False  False    False
9739 0    False    False   False     False  False    False
9740 0    False    False   False     False  False    False
     1    False    False   False     False  False    False
9741 0    False    False   False     False  False    False

[22084 rows x 20 columns]

In [15]:
df_encoded = df_dummies.groupby(level=0).sum()
print(df_encoded)

      (no genres listed)  Action  Adventure  Animation  Children  Comedy  \
0                      0       0          1          1         1       1
1                      0       0          1          0         1       0
2                      0       0          0          0         0       1
3                      0       0          0          0         0       1
4                      0       0          0          0         0       1
...                  ...     ...        ...        ...       ...     ...
9737                   0       1          0          1         0       1
9738                   0       0          0          1         0       1
9739                   0       0          0          0         0       0
9740                   0       1          0          1         0       0
9741                   0       0          0          0         0       1

      Crime  Documentary  Drama  Fantasy  Film-Noir  Horror  IMAX  Musical  \
0         0            0      0        1          0       0     0        0
1         0            0      0        1          0       0     0        0
2         0            0      0        0          0       0     0        0
3         0            0      1        0          0       0     0        0
4         0            0      0        0          0       0     0        0
...     ...          ...    ...      ...        ...     ...   ...      ...
9737      0            0      0        1          0       0     0        0
9738      0            0      0        1          0       0     0        0
9739      0            0      1        0          0       0     0        0
9740      0            0      0        0          0       0     0        0
9741      0            0      0        0          0       0     0        0

      Mystery  Romance  Sci-Fi  Thriller  War  Western
0           0        0       0         0    0        0
1           0        0       0         0    0        0
2           0        1       0         0    0        0
3           0        1       0         0    0        0
4           0        0       0         0    0        0
...       ...      ...     ...       ...  ...      ...
9737        0        0       0         0    0        0
9738        0        0       0         0    0        0
9739        0        0       0         0    0        0
9740        0        0       0         0    0        0
9741        0        0       0         0    0        0

[9742 rows x 20 columns]

In [16]:
df_encoded.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [17]:
df_encoded = pd.concat([df_movies['movieId'], df_encoded], axis=1)

In [18]:
df_encoded.head()

,movieId,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
genre_counts = {}

for genre in df_dummies.columns[1:]:
    genre_counts[genre] = df_encoded[df_encoded[genre] == 1].shape[0]

for genre, count in genre_counts.items():
    print(f"Number of {genre} movies: {count}")

Number of Action movies: 1828
Number of Adventure movies: 1263
Number of Animation movies: 611
Number of Children movies: 664
Number of Comedy movies: 3756
Number of Crime movies: 1199
Number of Documentary movies: 440
Number of Drama movies: 4361
Number of Fantasy movies: 779
Number of Film-Noir movies: 87
Number of Horror movies: 978
Number of IMAX movies: 158
Number of Musical movies: 334
Number of Mystery movies: 573
Number of Romance movies: 1596
Number of Sci-Fi movies: 980
Number of Thriller movies: 1894
Number of War movies: 382
Number of Western movies: 167