motivation of this notebook is  create a new feature per user, as avarage rating for each genres

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv

In [2]:
df_user = pd.read_csv('ratings.csv')
df_user = df_user.drop(columns=['timestamp'])
df_movies = pd.read_csv("Movies_encoded.csv")
df_user.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [3]:
df_movies.head()

,movieId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
user_1_data = df_user[df_user['userId'] == 1]
print(user_1_data)

     userId  movieId  rating
0         1        1     4.0
1         1        3     4.0
2         1        6     4.0
3         1       47     5.0
4         1       50     5.0
..      ...      ...     ...
227       1     3744     4.0
228       1     3793     5.0
229       1     3809     4.0
230       1     4006     4.0
231       1     5060     5.0

[232 rows x 3 columns]

In [5]:
combined_df = pd.merge(df_user, df_movies, on='movieId')
combined_df.head()

,userId,movieId,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,4.0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,3,4.0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,6,4.0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,1,47,5.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,1,50,5.0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0

In [6]:
genras = ['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

for column in genras:
    combined_df[column] = combined_df.apply(lambda row: row['rating'] if row[column] == 1 else row[column], axis=1)

combined_df = combined_df.drop(columns=['rating'])

In [7]:
combined_df.head(1000)

,userId,movieId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,0.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,3,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
2,1,6,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
3,1,47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0
4,1,50,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,7,8972,2.5,2.5,0.0,0.0,0.0,0.0,0.0,2.5,...,0.0,0.0,0.0,0.0,2.5,0.0,0.0,2.5,0.0,0.0
996,7,8984,4.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
997,7,27741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
998,7,30812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,7,30816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0

In [8]:
user_ratings = combined_df[combined_df['userId'] == 100]
user_ratings.head()

,userId,movieId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
15300,100,3,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0
15301,100,11,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
15302,100,16,0.0,0.0,0.0,0.0,0.0,4.5,0.0,4.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15303,100,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,...,0.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0
15304,100,19,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Filter the DataFrame to include only rows where the 'Action' column has non-zero values
action_ratings = user_ratings[user_ratings['Action'] != 0]

# Calculate the average rating for the 'Action' genre
average_action_rating = round(action_ratings['Action'].mean(),2)

print(f"Average rating for 'Action' genre: {average_action_rating}")

Average rating for 'Action' genre: 3.98

In [10]:
for column in genras:
    genre_ratings = user_ratings[user_ratings[column] != 0]
    average_rating = round(genre_ratings[column].mean(),2)
    print(f"Average rating for '{column}' genre: {average_rating}")

Average rating for 'Action' genre: 3.98
Average rating for 'Adventure' genre: 4.03
Average rating for 'Animation' genre: 3.5
Average rating for 'Children' genre: 4.0
Average rating for 'Comedy' genre: 3.93
Average rating for 'Crime' genre: 4.12
Average rating for 'Documentary' genre: nan
Average rating for 'Drama' genre: 3.98
Average rating for 'Fantasy' genre: 3.95
Average rating for 'Film-Noir' genre: nan
Average rating for 'Horror' genre: 2.4
Average rating for 'IMAX' genre: 4.5
Average rating for 'Musical' genre: 4.08
Average rating for 'Mystery' genre: 3.7
Average rating for 'Romance' genre: 4.09
Average rating for 'Sci-Fi' genre: 3.57
Average rating for 'Thriller' genre: 3.63
Average rating for 'War' genre: 4.0
Average rating for 'Western' genre: 4.3

In [15]:
def calculateRatings(userid):
    avg_array =[]
    user_ratings = combined_df[combined_df['userId'] == userid]
    genras = ['Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

    for column in genras:
        genre_ratings = user_ratings[user_ratings[column] != 0]
        average_rating = round(genre_ratings[column].mean(),2)
        avg_array.append(average_rating)
    return avg_array

In [16]:
# Initialize an empty DataFrame
all_user_ratings = pd.DataFrame()

# Loop through each user ID and calculate ratings
for userId_item in range(1, 611):
    ratings = calculateRatings(userId_item)
    data = {'user_id': [userId_item] , 'Action':[ratings[0]], 'Adventure':[ratings[1]], 'Animation':[ratings[2]], 'Children':[ratings[3]], 'Comedy':[ratings[4]], 'Crime':[ratings[5]], 'Documentary':[ratings[6]], 'Drama':[ratings[7]], 'Fantasy':[ratings[8]], 'Film-Noir':[ratings[9]], 'Horror':[ratings[10]], 'IMAX':[ratings[11]], 'Musical':[ratings[12]], 'Mystery':[ratings[13]], 'Romance':[ratings[14]], 'Sci-Fi':[ratings[15]], 'Thriller':[ratings[16]], 'War':[ratings[17]], 'Western':[ratings[18]]}
    df = pd.DataFrame(data)
    all_user_ratings = pd.concat([all_user_ratings, df], ignore_index=True)


# Save the pivoted DataFrame to a CSV file
all_user_ratings.to_csv('all_user_ratings.csv', index=False)

print("Data saved to all_user_ratings.csv")

Data saved to all_user_ratings.csv